* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
  }
  
  .container {
	max-width: 400px;
	margin: 25px auto;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .weather {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .current {
	color: green;
	font-size: 36px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	justify-content: center;
  }
  
  .location {
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .icon {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
  }
  
  .temperature {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .description {
	font-size: 24px;
	margin-bottom: 10px;
  }

  h1 {
	font-size: 32px;
	margin-top: 0;
  }

  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
  }
  
  .navbar-brand {
	font-size: 24px;
  }
  
  .search-bar {
	display: flex;
	align-items: center;
  }
  
  .search-bar input[type="text"] {
	border: none;
	padding: 5px;
	margin-right: 5px;
	background-color: #eee;
	border-radius: 5px;
  }
  
  .search-bar button {
	border: none;
	background-color: #bbb;
	padding: 12px 12px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .search-bar button:hover {
	background-color: #ddd;
  }
  
  .navbar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  .navbar-menu li {
	margin-left: 10px;
  }
  
  .navbar-menu a {
	color: #fff;
	text-decoration: none;
  }
  
  .navbar-menu a:hover {
	text-decoration: underline;
  }
  